@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #1e1e1e; 
    background: 
        linear-gradient(180deg, #2A2826 0%, rgba(30,30,30,1) 100%) 0 0 / 100% 100vh no-repeat, 
        #1e1e1e;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    color: white;
    font-family: "Inter", sans-serif;
    
}

h1{
    font-size: 48px;
    font-weight:  600;
}
span{
    font-size: 20px;
    font-weight: 500;
    color: #d6d6d6;
}
.bounding-grid{

    margin: auto;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: 300vh; */
    gap: 2rem;
}



.hero-section{
    display: flex;

    box-sizing: border-box;
    padding: 20px 0px;
    flex-wrap: wrap;
    gap: 40px;
    z-index: 4;
}

.hero-circle{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: linear-gradient(180deg,#55FFFF,#21495F);
    box-shadow: 0px 4px 4px #00000025;
    margin: auto;
    z-index: 3;
    position: absolute;
    right: -40px;
    top:100px;
    animation: hover 4s infinite;

}


.hero-todo{
    height: 100px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    position: absolute;
    top:20%;
    z-index: 4;
    left: -40px;
    animation: hover 3s infinite;
    box-shadow: 0px 4px 4px #00000025;
    backdrop-filter: blur(10px);
    background: rgb(50,39,68);
    
    background: linear-gradient(90deg, rgba(50,39,68,0.8) 0%, rgba(50,37,71,0.8) 35%, rgba(44,44,44,0.8) 100%);
}


.hero-meter{
    height: 8px;
    display: flex;
    border-radius: 8px;
    flex: 1;
    background: rgb(136,183,186);
    background: linear-gradient(90deg, rgba(136,183,186,1) 50%, rgba(160,159,163,1) 50%);
}




.home-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    position: relative;
    padding: 20px 0px;
}

.home-grid .hero-circle{

    top: -10px;
    left: 40%;
    right: auto;
    bottom: auto;
    height: 300px;
    width: 300px;
    border-radius: 200px;
   scale: 110%;
   animation: warp 10s infinite;
   
    
}

.home-grid-card{
    background-color: #2C2C2C90;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 3;
    backdrop-filter: blur(20px);
}
.home-grid-card span{
    font-size: 20px;
}
.home-grid-card h3,h4{
    margin: 0;
}






.browserHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  padding: 20px 25px;
  border-radius: 20px 20px 0px 0px;
}

.browserHeader h5{
  margin: 0px;
  color: #ffffff55;
}

.browser{
  min-height: 500px;
  background: rgb(50,39,68);
  background: linear-gradient(180deg, rgba(50,39,68,0.3) 0%, rgba(30,30,30,0.3) 100%);
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 20px 20px 0px 0px;
 
}


.browser-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.browser-cardholder{
  background: #2C2C2C70;
  background: linear-gradient(180deg, #2c2c2c70 0%, #2c2c2c00 100%);
  min-height: 500px;
  border-radius: 20px;
  min-width: 350px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.browser-cardholder h3{
  margin: 0px;
}

/* section */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.visible {
  opacity: 1;
}


/*Footer*/

.footer{
  position: relative;
  overflow: hidden;
}

.footer-background{
 
  background-color: rgba(44, 44, 44, 1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  backdrop-filter: blur(50px);
  z-index: 3;
}

.footer-content{
  padding: 50px;
  
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
 
  flex-wrap: wrap;
  border-radius: 20px;
}




input{
  padding: 20px 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #1e1e1e;
  font-family: inherit;
  font-size: 1em;
  color: #55FFFF;
}

/* 
Media query */

/*Reduce Motion*/
@media (prefers-reduced-motion) {
        .hero-circle{
          animation: none;
        }
        .hero-todo{
          animation: none;
        }

        .home-grid .hero-circle{

          animation: none;
        }
}


@media (max-width: 1440px) {



.bounding-grid{

    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

}

@media (max-width: 1200px) {

    .hero-section{
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0px;
        flex-wrap: nowrap;
        
    }
    .hero-diagram{
        position: relative;
        opacity: 90%;
        margin-bottom: -40px ;
        z-index: 0;
    }
    

    .home-grid{
        grid-template-columns: auto;
    }
  
    
    
    }

    @media (max-width: 800px) {

        .hero-section{
            flex-direction:column-reverse;
            justify-content: center;
            align-items: center;
            gap: 0px;
            flex-wrap: nowrap;
            
        }
        .hero-diagram{
            position: relative;
            opacity: 80%;
            left: -200px;
            right: auto;
            margin-bottom: -80px ;
            z-index: 0;
            transform: scaleX(-1);
        }

        .hero-todo span{
            transform: scaleX(-1);
        }
        
    
        .home-grid{
            grid-template-columns: auto;
        }
    
        .browser-grid{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          padding: 20px 0px;
        }

        .browser-cardholder{

          gap: 10px;
          padding: 5px;
          
        }
       

        
        
        }

    
        @media (max-width: 400px) {
          .browser-grid{
            display: flex;
            flex-wrap: wrap;
            gap: 0px;
            padding: 20px 0px;
          }
          .browser-cardholder{
            min-width: 200px;
            gap: 10px;
            padding: 10px;
            height: min-content;
          }

        }


















/* Animation frames */





    @keyframes warp {
        0% {
          border-radius: 50%;
          transform: scale(1);
        }
        10% {
          border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
          transform: scale(1.05);
        }
        20% {
          border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
          transform: scale(1.1);
        }
        30% {
          border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
          transform: scale(1.15);
        }
        40% {
          border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
          transform: scale(1.2);
        }
        50% {
          border-radius: 50%;
          transform: scale(1.25);
        }
        60% {
          border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
          transform: scale(1.2);
        }
        70% {
          border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
          transform: scale(1.15);
        }
        80% {
          border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
          transform: scale(1.1);
        }
        90% {
          border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
          transform: scale(1.05);
        }
        100% {
          border-radius: 50%;
          transform: scale(1);
        }
      }

      @keyframes hover {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px); /* Adjust the value as needed */
        }
        100% {
          transform: translateY(0);
        }
      }

   